<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saiful_02_rest01">

    <!-- ইন্টারনেট ব্যবহারের অনুমতি -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="saiful_02_REST01"
        android:theme="@style/Theme.Material3.DayNight">

        <activity
            android:name=".ui.ProductActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>